{% extends 'dashboard/base_dashboard.html' %} 
{% load crispy_forms_tags %}

{% block title %}
	Dashboard BK | Assesment
{% endblock title %}

{% block navbar-dashboard %}
	<button class="btn text-danger" data-bs-toggle="modal" data-bs-target="#assessmentsModelForm">Tambah Assesment</button>
{% endblock navbar-dashboard %}

{% block main-dashboard %}
<section class="p-3 bg-white rounded border-start border-5 border-peach">

	<div class="p-3 bg-light-1 rounded">
		<h2 class="title">Daftar Assesment</h2>
		<p class="text-muted">
			Jumlah assesment yang terbit adalah {{ assessments.count }}, jika ingin menghapus assessment silahkan click detail.
		</p>
	</div>


	<div class="row my-2 row-cols-1 row-cols-md-3 g-4">
		{% for asment in assessments %}
			<div class="col">
				<div class="card h-100">
					{% if asment.name %}
						<img src="https://picsum.photos/seed/{{ asment.name|slugify }}/440/240" class="card-img-top" alt="assessment image banner">
					{% else %}
						<img src="https://picsum.photos/seed/{{ asment.name }}/440/240" class="card-img-top" alt="assessment image banner">
					{% endif %}
					<div class="card-body">
						<h5 class="card-title title">{{ asment.name }}</h5>
						<p class="card-text text-secondary">
							Jumlah pertanyaan:
							<span class="badge rounded-pill bg-peach-1">
							{{ asment.questionmodel_set.all.count }}
							</span>
						</p>
						<hr>
						<a href="{% url 'assessments-detail' asment.pk %}" class="btn btn-primary">Detail</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

</section>

<!-- Assessments form modal -->
<div
	class="modal fade"
	id="assessmentsModelForm"
	tabindex="-1"
	aria-labelledby="assessmentsModelFormLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="assessmentsModelFormLabel">
					Tambah Assessment
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				{% crispy a_form %}
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-outline-secondary"
					data-bs-dismiss="modal"
				>
					Batal
				</button>
				<button type="submit" form="assessmentCreationForm" class="btn btn-primary">
					Tambahkan assessment
				</button>
			</div>
		</div>
	</div>
</div>
{% endblock main-dashboard %}
