{% extends 'homepage/base.html' %} 

{% load static %}
{% load crispy_forms_tags %} 
{% block messages %}{% endblock messages %} 
{% block navbar %}{% endblock navbar %} 

{% block title %}Dashboard BK{% endblock title %} 

{% block main %}

	{% if messages %}
	<!-- Messages section -->
	<section class="bg-white my-3 p-3 rounded shadow-sm">
		{% for m in messages%}
		<div class="m-0 border-0 alert alert-{{ m.tags }}" role="alert">
			{{m}}
		</div>
		{% endfor%}
	</section>
	{% endif %}

	<div class="my-3 d-flex">

		<!-- Sidebar -->
		<nav id="sidebar" class="nav me-4 text-start d-none d-sm-flex flex-column">
			<div class="w-100 px-3 py-3 title text-center bg-peach-0 rounded rounded">
				Bikom
			</div>
			<a class="nav-link active" aria-current="page" href="{% url 'admin-dashboard' %}">Dashboard</a>
			<a class="nav-link" href="{% url 'users-list' %}">Akun</a>
			<a class="nav-link" href="{% url 'assessments-list' %}">Assesment</a>
			<a class="nav-link" href="{% url 'appoint-list' %}">Konseling</a>
		</nav>

		<div class="w-100">
			<!-- Navbar content -->
			<section class="hstack gap-3 align-items-baseline px-3 py-2 mb-2 sticky-top w-100 bg-white rounded" id="navbar">
				<button class="btn text-danger" id="sidebartoggler">
					<i class="bi bi-list"></i>
				</button>
				<div class="vr"></div>
				{% block navbar-dashboard %}
				{% endblock navbar-dashboard %}
			</section>


			<!-- Main content -->
			<div>
				{% block main-dashboard %}
				<section class="p-3 bg-white rounded">
					<h2 class="title">Dashboard Bimbingan Konseling</h2>
				</section>
				{% endblock main-dashboard %}
			</div>
			
		</div>
		

	</div>

{% endblock main %}
{% block js %}
	<script type="text/javascript" src="{% static 'dashboard/js/navbar-toggler.js' %}"></script>
{% endblock js %}
