{% extends 'dashboard/base_dashboard.html' %} 

{% load crispy_forms_tags %}

{% block navbar-dashboard %}
	<a href="{% url 'users-list' %}" class="btn text-danger">Daftar Akun</a>
	<a href="{% url 'create-teacher' %}" class="btn text-danger">Tambah Akun</a>
{% endblock navbar-dashboard %}

{% block main-dashboard %}
<section class="p-3 bg-white rounded">

	<h2 class="title">Tambah Akun Staff</h2>
	<p class="text-muted">
		Silahkan menambahkan akun staff disini, perhatikan data yang diinput, dan buatkan password yang kuat.
	</p>

	{% crispy form %}
	<button class="btn btn-danger" type="submit" form="teacherCreationForm">Tambahkan Akun</button>
</section>
{% endblock main-dashboard %}
